#task-grid{
    display: grid;
    grid-template-columns: 50fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tasklist taskform";
}

#taskform{ //how to make taskform just stay on right side of the screen alongside proper spacing between labels?
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: taskform;
    float: right;
    max-width: 300px;   
    margin: 0 auto;
    //top: -45px;
    h2{
        margin-bottom: 10px;
    }
    label{
        margin-bottom: 5px;
        display: block; //This is what makes the labels go under the title 
        width: 100%;
    }
    input{
        height: 20px;
    }
}

#tasklist{
    grid-area: tasklist;
}

button.submitbutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 12.5%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .add-Button {
        position: absolute;
        bottom: 0%;
        right: -5%;
        border: none;
    }
    .add-Button .buttonTag{
        width: 40px;
        height: 40px;
        font-size: 15px;
        padding: 9px 0px;
    }
    .modal{ //Makes modal full screen on mobile
        width: 90%;
        height: 90%;
        overflow: auto;
        top: 0;
        left: 0;
        border-radius: 0px;
        padding: 0;
    }
    #task-grid{
        grid-template-columns: 4fr 1fr;
    }
    .done-button{
        font-size: 1.9vw;
    }

    .not-done-button{
        font-size: 1.9vw;
    }
}